* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, black, #022a3c) fixed;
  padding: 50px;
}

h2 {
  color: #fff;
  text-align: center;
  padding: 20px;
}

.contact-info {
  text-align: center;
}

.contact-info a {
  font-size: large;
  color: rgb(72, 185, 255);
  text-align: center;
  padding: 20px;
}

h1 {
  color: #fff;
  text-align: center;
  padding: 40px;
}

.title {
  color: #fff;
  text-align: center;
  padding: 10px;
}

label {
  color: #fff;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.card {
  width: 250px;
  height: auto;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 20px;
  transition: all .3s ease-in;
  cursor: pointer;
}

.card>* {
  padding: 10px;
}

.card .card-image {
  height: 150px;
  width: 150px;
  border: 5px double #022a3c;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;
}

.card .card-title {
  padding: 20px 10px;
  font-size: 1.5 rem;
  text-transform: uppercase;
  text-shadow: 1px 0px 2px #262654;
}

.card:hover {
  background: lightblue;
  color: #fff;
  box-shadow: 0px 0px 11px 5px #000000;
}

.card .card-text {
  line-height: 20px;
  /* color: blueviolet; */
}


.frameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}



.frame {
  border-radius: 4px;
  background: linear-gradient(90deg, black, #022a3c) fixed;
  width: 290px;
  height: 250px;
  padding: 5px;
}

.frame .myPhoto {
  background-image: url('./images/Subject.png');
  background-position: top;
  background-size: cover;
  width: 280px;
  height: 240px;
}

.subTitle {
  text-align: center;
  padding: 20px;
  font-weight: bold;

}

.aboutMe {
  border: 5px double;
  display: flex;
  border-radius: 20px;
  text-align: center;
  background: #022a3c;
  padding: 10px;
}

.aboutMe,
.skills {
  color: #fff;

}

.skills {
  text-align: center;
  padding: 20px;
  border: 5px double;
  border-radius: 20px;
  background: #022a3c;
}

.skills ul {
  list-style-type: square;
  list-style-position: inside;
  columns: 3;
  padding: 10px;
  justify-content: center;
  font-size: 18px;
}


.view-box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.9;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-content {
  width: 800px;
  height: 685px;
  background-color: #022a3c;
  color: #fff;
  position: relative;
}


.box-content a {
  color: rgb(72, 185, 255);
  font-size: large;
}

.box-content h3 {
  color: lightsalmon;
  text-align: center;
  padding: 5px;
}

.box-content p {
  font-size: 17px;
}

.box-content .links {
  text-align: center;
}

.box-content .close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}